html {
    height: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#arena-wrapper {
    margin: 30px 30px calc(30px + 2em) 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#arena {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    touch-action: none;
}

#inventory {
    margin: 10px;
}
#packing-area {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.bin {
    position: relative;
    margin: 5px 10px 5px 10px;
}

.item {
    position: absolute;
    z-index: 30;
    box-sizing: border-box;
}
.item.packed {
    z-index: 10;
}

#hover-rect {
    visibility: hidden;
    position: fixed;
    z-index: 20;
}

#stats-bar {
    bottom: 0;
}
#item-info-bar {
    bottom: 2em;
    visibility: hidden;
}
.bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 15;
    height: 2em;
}
.bar-entry {
    display: flex;
    align-items: center;
}
.bar-label::after {
    content: ":";
}
.bar-label, .bar-value {
    padding: 3px 5px 3px 5px;
}

/* beautification */

#arena, .item {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 3px 1px rgba(0,0,0,0.15);
}
#inventory, .bin {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.bar {
    background: rgba(0, 0, 0, 0.2);
}

.item {
    opacity: 70%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.item.packed {
    opacity: 90%;
    box-shadow: none;
}
#hover-rect.success {
    background: rgba(40, 167, 69, 0.5);
}
#hover-rect.failure {
    background: rgba(220, 53, 69, 0.5);
}
#inventory, .bin {
    background-image: linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
    background-position: -0.5px -0.5px;
}


 @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: black;
    }
    .bar {
    background: rgb(204,204,204);
    } 
    #arena {
     box-shadow: 0 1px 2px rgba(255,255,255,0.7), 0 1px 3px 1px rgba(255,255,255,0.7);  
    }
    #inventory, .bin {
        background-image: linear-gradient(to right, rgba(255,255,255,0.6) 1px, transparent 1px), linear-gradient(to bottom, rgba(255,255,255,0.6) 1px, transparent 1px);
    } 
} 
